<!DOCTYPE html>
<html>
<head>
  <title>Angular Reftracker Tester</title>
  <meta charset="utf-8">

  <!-- AngularJS -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.js"></script>
  <script type="text/javascript" src="https://code.angularjs.org/1.2.27/angular-resource.min.js"></script>

  <!-- Tester module -->
  <script type="text/javascript" src="../src/angular-reftracker.js"></script>
  <script type="text/javascript" src="js/reftracker-tester.js"></script>

  <!-- Some styles and ui stuff -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="index.css">
  <script type="text/javascript" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.min.js"></script>

</head>
<body>

<div class="container" ng-app="rtTester">

  <div class="row">
    <div class="col-md-12">
      <h1>Angular Reftracker Tester</h1>
    </div>
  </div>

  <div class="row">

    <div class="col-md-5">
      <h4>Objects structure <span class="label label-default">Single scope</span></h4><br/>
    </div>
    <div class="col-md-7">
      <h4>Object editors <span class="label label-default">Separate scopes</span></h4><br/>
    </div>

  </div>

  <div class="row" ng-controller="listController">

    <div class="col-md-5">

      <div class="row row-actions">

        <div class="col-md-12">

          <button type="button" class="btn btn-sm btn-danger" ng-click="hardReload()">
            <span class="glyphicon glyphicon-refresh"></span>
            Hard reload
          </button>

          <button type="button" class="btn btn-sm btn-success" ng-click="reload()">
            <span class="glyphicon glyphicon-refresh"></span>
            Reftracker reload
          </button>

          <button type="button" class="btn btn-sm btn-warning" ng-click="reset()">
            <span class="glyphicon glyphicon-refresh"></span>
            Reset
          </button>

        </div>

      </div>

      <div class="row">

        <div class="col-md-12">

          <ul class="tree">
            <li ng-repeat="entry in list">
              <button type="button" class="btn btn-xs btn-success" ng-click="add(entry)" title="Add editor.">
                <span class="glyphicon glyphicon-plus-sign"></span>
              </button>
              <button type="button" class="btn btn-default btn-xs" ng-model="entry.highlight"
                      btn-checkbox title="Identify this reference.">
                <span class="glyphicon glyphicon-eye-open"></span>
              </button>
          <span ng-class="{'bg-primary': entry.highlight}">
            [{{entry.type}}/{{entry.id}}]: {{entry.title}}
          </span>
              <ul ng-repeat="comment in entry.comments">
                <li>
                  <button type="button" class="btn btn-xs btn-success" ng-click="add(comment)" title="Add editor.">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                  </button>
                  <button type="button" class="btn btn-default btn-xs" ng-model="comment.highlight"
                          btn-checkbox title="Identify this reference.">
                    <span class="glyphicon glyphicon-eye-open"></span>
                  </button>
              <span ng-class="{'bg-primary': comment.highlight}">
                [{{comment.type}}/{{comment.id}}]: {{comment.title}}
              </span>
                </li>
              </ul>
            </li>
          </ul>

        </div>

      </div>

    </div>

    <div class="col-md-7">

      <div class="row row-actions">

        <div class="col-md-6">

          <div class="input-group input-group-sm">
            <input type="text" class="form-control" ng-model="asyncId">
            <span class="input-group-btn">
              <button class="btn btn-success" type="button" ng-click="simulateAsync()">
                <span class="glyphicon glyphicon-download"></span>
                Simulate async
              </button>
            </span>
          </div>

        </div>

        <div class="col-md-2">

          <button type="button" class="btn btn-sm btn-warning" ng-click="removeOne()">
            <span class="glyphicon glyphicon-remove"></span>
            Remove last
          </button>

        </div>

      </div>

      <div class="row">

        <div class="col-md-6" ng-repeat="item in items track by $index">

          <div class="panel" ng-controller="editController"
               ng-class="{'panel-default': !element.highlight, 'panel-primary': element.highlight}">

            <div class="panel-heading">
              <button type="button" class="btn btn-default btn-xs pull-right" ng-model="element.highlight"
                      btn-checkbox title="Identify this reference.">
                <span class="glyphicon glyphicon-eye-open"></span>
              </button>

              {{element.type}}/{{element.id}}
            </div>

            <div class="panel-body">

              <div class="input-group input-group-sm">
                <input type="text" class="form-control" ng-model="element.title"/>
                <span class="input-group-btn">
                  <button class="btn btn-danger" type="button" title="Hard reload from server." ng-click="hardReload()">
                  <span class="glyphicon glyphicon-refresh"></span>
                  </button>
                  <button class="btn btn-success" type="button" title="Reload from server using reftracker."
                      ng-click="reload()">
                    <span class="glyphicon glyphicon-refresh"></span>
                  </button>
                </span>
              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>

</body>
</html>
